# basics
- variables
- operators
- datatypes
- input/output

In [1]:
x=3
a,b =10,11 
c=a+b

In [2]:
l=5
b=10
area=l*b

In [5]:
p=60
r=5/100
t=2
si=(p*r*t)/100

In [6]:
del area

### operators
- assignment 
- arithmetic 
- comparison
- logical
- membership
- identity

In [14]:
# arithmetic + - * / % ** //
a=10
b=3

In [15]:
a+b

13

In [16]:
a-b

7

In [17]:
a/b

3.3333333333333335

In [18]:
a*b

30

In [19]:
a**b

1000

In [20]:
a//b

3

In [21]:
print(a//b) # integer division
print(a%b) # remainder (modulo)
print(a ** b) # exponentiation

3
1
1000

In [23]:
# comparison < > >= <= == !=
x=120
y=290
print (x>y) # gt
print(x<y) # lt
print(x>=100) #gte
print(x<=100) # lte
print(x==100) # equality
print(x!=100) # inequality

False
True
True
False
False
True

In [27]:
# logical -> and or not
print(x>10 and y>50)
print(x>10 and y<50)
print(x>10 or y<50)
print(x<10 or y<50)
print(not x>5)
print(not x<5)

TypeError: '>' not supported between instances of 'list' and 'int'

In [28]:
## membership operator
x= [1,2,3,4,5,6,7]
print(5 in x)
print(10 in x)
print( 3 not in x)
print(10 not in x)

True
False
False
True

In [30]:
# identity -> is, is not
a = [1,2,3,4]
b=a
c = [1,2,3,4]
print(a is b)
print(a is c)
print(b is not c)

True
False
True

# datatypes
- int (integer)
- float (real number)
- bool (boolean)
- str (string or text)
- NoneType (None)
- list
- tuple
- set
- dict (dictionary)

In [35]:
num = 5
name = "mohd ammar"
pi = 3.14159
sleepy = True
data = None
a_list = [1,2,3,4,5]
a_tuple = (1,2,3,4,5)
a_set = {1,2,3,4,5}
a_dict = {'a' :10, 'b' :20}

In [36]:
print(type(num))
print(type(name))

<class 'int'>
<class 'str'>

# displaying output and getting input

In [5]:
print()
print('Hello')
print('example string')
print('example','print','with','multiple','arguments')
print('example','print','with','multiple','arguments',sep='_')
print('example','print','with','multiple','arguments',sep='ðŸ¤£â¤ï¸')
print('example','print','with','multiple','arguments',sep='')
print('C:','users','ammar','desktop',sep='/')

Hello
example string
example print with multiple arguments
example_print_with_multiple_arguments
exampleðŸ¤£â¤ï¸printðŸ¤£â¤ï¸withðŸ¤£â¤ï¸multipleðŸ¤£â¤ï¸arguments
exampleprintwithmultiplearguments
C:/users/ammar/desktop

In [6]:
fruits = ['apple', 'banana', 'cherry', 'potato']

print(*fruits, sep='\n') # hack to print lsit items in new lines

apple
banana
cherry
potato

# displaying content wth varibales

In [7]:
a, b, =10,20
c=a+b
# Result => 10 + 20 = 30
print('Result =>' , a, '+', b, '=', c) # comma separated
print(f'Result => {a}+{b} = {c}') # f-string

Result => 10 + 20 = 30
Result => 10+20 = 30

In [17]:
t = int(input())
name = input("Who are you?")
print(f"So you are, {name}, i have been expecting you")

ValueError: invalid literal for int() with base 10: 'Ammar'

In [25]:
p= int(input("Enter the principal amount: "))
r=float(input("Enter the rate of interest: "))
t=int(input("Enter the time in years: ")) 
si= p*r*t / 100
print("Simple interest calculation")
print(f'Principlal => {p:20}') 
print(f'Rate of interest => {r:13}')
print(f'Time(yrs) => {t:20}') 
print("---"*10)
print(f'Simple interest will be => {si:14}')

Simple interest calculation
Principlal =>                12000
Rate of interest =>          3.52
Time(yrs) =>                   10
------------------------------
Simple interest will be =>         4224.0

In [22]:
word = "Journey"
print(word)
print(f"{word:>100}") #right align
print(f"{word:^15}") # centre align
num = 1200
print(f"{num}")
print(f"{num:15}")
print(f"{num:<15}")
print(f"{num:^15}")
print(f"{num:15.2f}") # align with decimals places (round off)
print(f"{num:3f}") # no align just decimal places

Journey
                                                                                             Journey
    Journey
1200
           1200
1200
     1200
        1200.00
1200.000000

In [36]:
r = float(input("Enter the radius= "))
vol = 4/3 * (3.14) * r**3
print("Volume of Sphere calculation =>")
print("---"*20)
print(f"Radius {r:20}")
print(f"Volume {vol:34}")
print("---"*20)

Volume of Sphere calculation =>
------------------------------------------------------------
Radius                  2.0
Volume                  33.49333333333333
------------------------------------------------------------